
<div class="admin-dashboard" >
<h1>Admin Dashboard</h1>

<div class="button-group">
<button class="login-button" (click)="logout()">Logout</button>

<!-- Admin-specific content here -->


<!-- 
  TODO
    need to move this inside of the admin login // create a display for parent view on the child 
-->
<!-- Student milestone component  -->
<!--<app-milestone></app-milestone> -->
<button class="" routerLink="/admin/milestone">Student Milestones</button>


<!-- TODO-->
<!-- move into admin view // add a parent view for one specific child "who is your kid"-->
<!-- Attendence Button, access the attendence log per student -->
<button class="attendanceButton" routerLink="/admin/attendance">
  Student Attendance
</button>
</div>
</div>