<div class="about-container">
    <h1><strong>About Us</strong></h1>
    <hr />
  
    <section class="team-section">
      <h4>Team Members</h4>
      <ul>
        <li>Erik Rodriguez</li>
        <li>Anthony Samson</li>
        <li>Hunter Brickers</li>
        <li>Joseph Curtin</li>
        <li>Noah Judkins</li>
      </ul>
    </section>
  
    <hr />
  
    <section class="description-section">
      <h4>System Description</h4>
      
      <p>This student management portal
         is meant to serve as a platform for tracking student milestones, form status, and attendance and behavior logs. 
         </p>
         <br>
         <p>Two different views are provided for either a teacher or a parent. Teachers view more information of their
           students and internally are able to makr attendence and daily disciplines. Parent view captures data from Legal
            forms needed to be filled out for either Federal, County, State, or the KidsWin Facility</p>   
    </section>
  </div>