<div class="about-container">
    <h1><strong>About Us</strong></h1>
    <hr />
  
    <section class="team-section">
      <h4>Team Members</h4>
      <ul>
        <li>Erik Rodriguez</li>
        <li>Anthony Samson</li>
        <li>Hunter Brickers</li>
        <li>Joseph Curtin</li>
        <li>Noah Judkins</li>
      </ul>
    </section>
  
    <hr />
  
    <section class="description-section">
      <h4>System Description</h4>
      <p>Add a detailed description about the Student Management Portal here...</p>
    </section>
  </div>