
<hr>
<div class="forms-container">

    <!-- Forms Status section-->
    <h2>Form Status</h2>
<ul>
  <li>Federal Form: 
    <span *ngIf="formStatus['federalForm'].completed" style="color: green;">
      Completed on {{ formStatus['federalForm'].completedDate }}
      <mat-icon style="vertical-align: middle; color: green;">check_circle</mat-icon>
    </span>
    <span *ngIf="!formStatus['federalForm'].completed" style="color: red;">
      Not completed
      <mat-icon style="vertical-align: middle; color: red;">cancel</mat-icon>
    </span>
  </li>
  <li>State Form: 
    <span *ngIf="formStatus['stateForm'].completed" style="color: green;">
      Completed on {{ formStatus['stateForm'].completedDate }}
      <mat-icon style="vertical-align: middle; color: green;">check_circle</mat-icon>
    </span>
    <span *ngIf="!formStatus['stateForm'].completed" style="color: red;">
      Not completed
      <mat-icon style="vertical-align: middle; color: red;">cancel</mat-icon>
    </span>
  </li>
  <li>County Form: 
    <span *ngIf="formStatus['countyForm'].completed" style="color: green;">
      Completed on {{ formStatus['countyForm'].completedDate }}
      <mat-icon style="vertical-align: middle; color: green;">check_circle</mat-icon>
    </span>
    <span *ngIf="!formStatus['countyForm'].completed" style="color: red;">
      Not completed
      <mat-icon style="vertical-align: middle; color: red;">cancel</mat-icon>
    </span>
  </li>
  <li>Center Form: 
    <span *ngIf="formStatus['centerForm'].completed" style="color: green;">
      Completed on {{ formStatus['centerForm'].completedDate }}
      <mat-icon style="vertical-align: middle; color: green;">check_circle</mat-icon>
    </span>
    <span *ngIf="!formStatus['centerForm'].completed" style="color: red;">
      Not completed
      <mat-icon style="vertical-align: middle; color: red;">cancel</mat-icon>
    </span>
  </li>
</ul>

    <!-- Completed forms section-->
    <div *ngFor="let formName of ['federalForm', 'stateForm', 'countyForm', 'centerForm']">
      <ng-container *ngIf="getStoredForm(formName) as formData">
        <div class="form-display" *ngIf="formData">
          <h3>{{ formName | titlecase }} Data</h3>
          <table>
            <tbody>
              <tr *ngFor="let key of objectKeys(formData)">
                <td><strong>{{ key | titlecase }}</strong></td>
                <td>{{ formData[key] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>
    

<!--  Working out bug on below section might delete
<div *ngIf="federalForm.valid">
  <h3>Federal Form</h3>
  <pre>{{ federalForm.value | json }}</pre>
</div>
<div *ngIf="stateForm.valid">
  <h3>State Form</h3>
  <pre>{{ stateForm.value | json }}</pre>
</div>
<div *ngIf="countyForm.valid">
  <h3>County Form</h3>
  <pre>{{ countyForm.value | json }}</pre>
</div>
<div *ngIf="centerForm.valid">
  <h3>Center Form</h3>
  <pre>{{ centerForm.value | json }}</pre>
</div>
-->
    <!-- Below are the forms that take in the data for (?)Student -->
    <h2>Federal Form</h2>
    <form [formGroup]="federalForm" (ngSubmit)="onSubmitFederal()">
      <label>Full Name:</label>
      <input formControlName="fullName" type="text">
      <br>
  
      <label>SSN:</label>
      <input formControlName="ssn" type="text" placeholder="123-45-6789">
      <br>
  
      <label>Citizenship:</label>
      <input formControlName="citizenship" type="text">
      <br>
  
      <button type="submit" [disabled]="!federalForm.valid">Submit Federal Form</button>
    </form>
  
    <h2>State Form</h2>
    <form [formGroup]="stateForm" (ngSubmit)="onSubmitState()">
      <label>Address:</label>
      <input formControlName="address" type="text">
      <br>
  
      <label>Child Age:</label>
      <input formControlName="childAge" type="number">
      <br>
  
      <label>Parent Contact:</label>
      <input formControlName="parentContact" type="text">
      <br>
  
      <button type="submit" [disabled]="!stateForm.valid">Submit State Form</button>
    </form>
  
    <h2>County Form</h2>
    <form [formGroup]="countyForm" (ngSubmit)="onSubmitCounty()">
      <label>Immunization Record #:</label>
      <input formControlName="immunizationRecord" type="text">
      <br>
  
      <label>Proof of Residence (document name):</label>
      <input formControlName="proofOfResidence" type="text">
      <br>
  
      <button type="submit" [disabled]="!countyForm.valid">Submit County Form</button>
    </form>
  
    <h2>Center Internal Form</h2>
    <form [formGroup]="centerForm" (ngSubmit)="onSubmitCenter()">
      <label>Emergency Contact Name:</label>
      <input formControlName="emergencyContactName" type="text">
      <br>
  
      <label>Emergency Contact Phone:</label>
      <input formControlName="emergencyContactPhone" type="text">
      <br>
  
      <label>Allergies (optional):</label>
      <input formControlName="allergies" type="text">
      <br>
  
      <button type="submit" [disabled]="!centerForm.valid">Submit Center Form</button>
    </form>
  </div>
  <hr>