
<hr>
<div class="forms-container">
    <!-- Forms Status section-->
    <h2>Form Status</h2>
<ul>
  <li>Federal Form: 
    <span *ngIf="formStatus['federalForm'].completed">
      Completed on {{ formStatus['federalForm'].completedDate }}
    </span>
    <span *ngIf="!formStatus['federalForm'].completed">
      Not completed
    </span>
  </li>
  <li>State Form: 
    <span *ngIf="formStatus['stateForm'].completed">
      Completed on {{ formStatus['stateForm'].completedDate }}
    </span>
    <span *ngIf="!formStatus['stateForm'].completed">
      Not completed
    </span>
  </li>
  <li>County Form: 
    <span *ngIf="formStatus['countyForm'].completed">
      Completed on {{ formStatus['countyForm'].completedDate }}
    </span>
    <span *ngIf="!formStatus['countyForm'].completed">
      Not completed
    </span>
  </li>
  <li>Center Form: 
    <span *ngIf="formStatus['centerForm'].completed">
      Completed on {{ formStatus['centerForm'].completedDate }}
    </span>
    <span *ngIf="!formStatus['centerForm'].completed">
      Not completed
    </span>
  </li>
</ul>


    <!-- Completed forms section-->
    <h2>Completed Forms</h2>
    <div *ngFor="let formName of ['federalForm', 'stateForm', 'countyForm', 'centerForm']">
        <h3>{{ formName }} Data</h3>
        <pre>{{ getStoredForm(formName) | json }}</pre>
      </div>
<!--  Working out bug on below section might delete
<div *ngIf="federalForm.valid">
  <h3>Federal Form</h3>
  <pre>{{ federalForm.value | json }}</pre>
</div>
<div *ngIf="stateForm.valid">
  <h3>State Form</h3>
  <pre>{{ stateForm.value | json }}</pre>
</div>
<div *ngIf="countyForm.valid">
  <h3>County Form</h3>
  <pre>{{ countyForm.value | json }}</pre>
</div>
<div *ngIf="centerForm.valid">
  <h3>Center Form</h3>
  <pre>{{ centerForm.value | json }}</pre>
</div>
-->
    <!-- Below are the forms that take in the data for (?)Student -->
    <h2>Federal Form</h2>
    <form [formGroup]="federalForm" (ngSubmit)="onSubmitFederal()">
      <label>Full Name:</label>
      <input formControlName="fullName" type="text">
      <br>
  
      <label>SSN:</label>
      <input formControlName="ssn" type="text" placeholder="123-45-6789">
      <br>
  
      <label>Citizenship:</label>
      <input formControlName="citizenship" type="text">
      <br>
  
      <button type="submit" [disabled]="!federalForm.valid">Submit Federal Form</button>
    </form>
  
    <h2>State Form</h2>
    <form [formGroup]="stateForm" (ngSubmit)="onSubmitState()">
      <label>Address:</label>
      <input formControlName="address" type="text">
      <br>
  
      <label>Child Age:</label>
      <input formControlName="childAge" type="number">
      <br>
  
      <label>Parent Contact:</label>
      <input formControlName="parentContact" type="text">
      <br>
  
      <button type="submit" [disabled]="!stateForm.valid">Submit State Form</button>
    </form>
  
    <h2>County Form</h2>
    <form [formGroup]="countyForm" (ngSubmit)="onSubmitCounty()">
      <label>Immunization Record #:</label>
      <input formControlName="immunizationRecord" type="text">
      <br>
  
      <label>Proof of Residence (document name):</label>
      <input formControlName="proofOfResidence" type="text">
      <br>
  
      <button type="submit" [disabled]="!countyForm.valid">Submit County Form</button>
    </form>
  
    <h2>Center Internal Form</h2>
    <form [formGroup]="centerForm" (ngSubmit)="onSubmitCenter()">
      <label>Emergency Contact Name:</label>
      <input formControlName="emergencyContactName" type="text">
      <br>
  
      <label>Emergency Contact Phone:</label>
      <input formControlName="emergencyContactPhone" type="text">
      <br>
  
      <label>Allergies (optional):</label>
      <input formControlName="allergies" type="text">
      <br>
  
      <button type="submit" [disabled]="!centerForm.valid">Submit Center Form</button>
    </form>
  </div>
  <hr>