table {
  font-family: Arial, sans-serif;
  text-align: center;
  border-collapse: collapse;
  width: 250px;
  margin: 20px;
}

td {
  border: 1px solid #171717;
  padding: 10px;
}

.studentListItem {
  cursor: pointer;
}

.studentListItem:hover {
  background-color: #f0f0f0;
}

.dashboardButton { 
  background-color: #e53935;
  color: white;
  cursor: pointer;
}