    <div class="attendance">
      <h2>Attendance for <b>{{student.studentName}}</b></h2>
    
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Checked-in</th>
            <th>Checked-out</th>
            <th>Status</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of attendanceLog">
            <td>{{entry.date}}</td>
            <td>{{entry.checkIn}}</td>
            <td>{{entry.checkOut}}</td>
    
            <td>
              <div *ngIf="entry.presentOrAbsent === 'Present'" class="status-indicator" style="background-color: #5ecc61;"></div>
              <span *ngIf="entry.presentOrAbsent === 'Present'" style="color: #5ecc61;">Present</span>
            
              <div *ngIf="entry.presentOrAbsent === 'Absent'" class="status-indicator" style="background-color: #e14136;"></div>
              <span *ngIf="entry.presentOrAbsent === 'Absent'" style="color: #e14136;">Absent</span>
            </td>
           <td>{{entry.notes}}</td>
          </tr>
        </tbody>
      </table>
    </div>
