<h2>Attendance for {{ studentName }}</h2>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Check-In</th>
      <th>Check-Out</th>
      <th>Status</th>
      <th>Discipline</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let attendenceInfo of attendanceLog">
        <td>{{ attendenceInfo.date }}</td>
        <td>{{ attendenceInfo.checkIn }}</td>
        <td>{{ attendenceInfo.checkOut }}</td>
        
        <td *ngIf="attendenceInfo.presentOrAbsent === 'Present'">Present</td>
        <td *ngIf="attendenceInfo.presentOrAbsent !== 'Present'">Absent</td>

        <td class="discipline">
          <span *ngIf="attendenceInfo.disciplineStatus === 'Good'" class="status-circle good" title="Moderate"></span>
          <span *ngIf="attendenceInfo.disciplineStatus === 'Moderate'" class="status-circle moderate" title="Moderate"></span>
          <span *ngIf="attendenceInfo.disciplineStatus === 'Bad'" class="status-circle bad" title="Bad"></span>
        </td>

        <td>{{ attendenceInfo.notes }}</td>
    </tr>
  </tbody>
</table>