<h2>Attendance for {{ studentName }}</h2>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Check-In</th>
      <th>Check-Out</th>
      <th>Status</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let attendenceInfo of attendanceLog">
        <td>{{ attendenceInfo.date }}</td>
        <td>{{ attendenceInfo.checkIn }}</td>
        <td>{{ attendenceInfo.checkOut }}</td>

        <td *ngIf="loggedInAdmin">
          <select 
              [(ngModel)]="attendenceInfo.presentOrAbsent"
              [ngClass]="{ 'present': attendenceInfo.presentOrAbsent === 'Present', 'absent': attendenceInfo.presentOrAbsent !== 'Present' }">
            <option value="Present">Present</option>
            <option value="Absent">Absent</option>
          </select>
        </td>

        <td *ngIf="!loggedInAdmin"
             [ngClass]="{ 'present': attendenceInfo.presentOrAbsent === 'Present', 'absent': attendenceInfo.presentOrAbsent !== 'Present' }">
          {{ attendenceInfo.presentOrAbsent }}
        </td>

        <td *ngIf="loggedInAdmin"><input type="text" [(ngModel)]="attendenceInfo.notes" class="notesBox"></td>
        <td *ngIf="!loggedInAdmin">{{ attendenceInfo.notes }}</td>
  </tbody>
</table>

<app-discipline [disciplineLog]="disciplineLog" [studentName]="studentName"></app-discipline>